.lake-list {
  padding: 16px;
  width: 100%;
  max-width: 1000px;
  background-color: #f0f2f5;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

  .lake-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    position: relative;

    &:hover {
      background-color: #fafafa;
    }

    .delete-lake-button {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: red;
      color: white;
    }
  }

  .lake-info {
    flex-grow: 1;

    .lake-notes {
      margin-top: 8px;
    }
  }

  .lake-preview {
    flex-grow: 3;
    margin-left: 16px;
    margin-top: 16px;
    width: 100%;
  }
}

// Media query for larger screens
@media (min-width: 768px) {
  .lake-list {
    .lake-list-item {
      flex-direction: row;
    }

    .lake-preview {
      margin-top: 0;
      width: auto;
    }
  }
}
