.app-header {
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
  height: auto;
}

.app-header-content {
  display: flex;
  align-items: center;
}
