.lake-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .depth-form {
    margin-top: 1rem;
    width: 100%;

    .ant-form-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .ant-row {
        width: 100%;
      }
    }

    .ant-btn {
      margin-right: 0.5rem;
    }
  }

  .depth-form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  svg text {
    font-family: sans-serif;
  }
}
